@model UserViewModel

@{
    ViewData["Title"] = "User Management";

    var roles = new List<SelectListItem>();
    //if (ViewBag.IsUserManager == true)
    //{
    //    roles = new List<SelectListItem>()
    //    {
    //        new SelectListItem { Text = "Pollster", Value = "Pollster" },
    //        new SelectListItem { Text = "Reviewer", Value = "Reviewer" }
    //    };
    //}
    //else
    //{
    //    roles = new List<SelectListItem>()
    //    {
    //        new SelectListItem { Text = "User Manager", Value = "User Manager" },
    //        new SelectListItem { Text = "Pollster", Value = "Pollster" },
    //        new SelectListItem { Text = "Reviewer", Value = "Reviewer" }
    //    };
    //}
    roles = new List<SelectListItem>()
{
            new SelectListItem { Text = "User Manager", Value = "User Manager" },
            new SelectListItem { Text = "Pollster", Value = "Pollster" },
            new SelectListItem { Text = "Reviewer", Value = "Reviewer" }
        };
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
}
@{
    List<Departments> checkedDepartments = new List<Departments>();
    List<Departments> uncheckedDepartments = new List<Departments>();
    if (ViewBag.AllDepartments != null && ViewBag.UserDepartments[0] != "")
    {

        List<Departments> lstDepartments = ViewBag.AllDepartments;
        string[] ids = ViewBag.UserDepartments;
        List<int> dptIds = ids.Select(int.Parse).ToList();
        checkedDepartments = lstDepartments.Where(x => dptIds.Contains(x.ID)).ToList();
        uncheckedDepartments = lstDepartments.Where(x => !dptIds.Contains(x.ID)).ToList();
    }
    else
    {
        List<Departments> lstDepartments = ViewBag.AllDepartments;
    }
};
<script>
    var currentUserRole = '@ViewBag.UserRole';
    console.log(currentUserRole);
    $(document).ready(function () {
        if (currentUserRole == "User Manager" || currentUserRole == "Pollster") {
            $('.chkboxDepartments').hide();
            $('#ddlRole').change(
                function () {
                    if (this.value == "User Manager" || this.value == "Pollster") {
                        $('.chkboxDepartments').hide();
                        $('.chkboxDepartments').prop('required', false);
                    }
                    else {
                        $('.chkboxDepartments').show();
                        $('.chkboxDepartments').prop('required', true);

                        ReviewerValidation();
                    }
                }
            )
        }
        else
        {
            $('#ddlRole').change(
                function () {
                    if (this.value == "User Manager" || this.value == "Pollster") {
                        $('.chkboxDepartments').hide();
                        $('.chkboxDepartments').prop('required', false);
                    }
                    else {
                        $('.chkboxDepartments').show();
                        $('.chkboxDepartments').prop('required', true);

                        ReviewerValidation();
                    }
                }
            )
        }
    });

    function ReviewerValidation()
    {
        var checkbox_required = $('input[type="checkbox"]');

        checkbox_required.prop('required', true);

        checkbox_required.on('click', function () {
            if (checkbox_required.is(':checked')) {
                checkbox_required.prop('required', false);
            } else {
                checkbox_required.prop('required', true);
            }
        });
    }

    //function submitValidation()
    //{
    //    if (($('#ddlRole').val() != "User Manager") || $('#ddlRole').val() != "Pollster")
    //    {
    //        if ($('div.checkbox-group.required :checkbox:checked').length > 0) {
    //            $('.chkboxDepartments').prop('required', false);
    //            /*alert("Please Select a value from Departments Field");*/
    //        }
    //        else {
    //            $('.chkboxDepartments').prop('required', true);
    //        }

    //    }

    //}
</script>

<div class="box">
    <div class="header">
        <h4>Edit User</h4>
    </div>
    <div class="content">
        <br />

        <form class="form-horizontal" asp-action="Edit" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="rowelement">
                <div class="span3">
                    Username
                </div>
                <div class="span5">
                    <input type="text" asp-for="Username" class="input-block-level" disabled />
                </div>
                <div class="clear"></div>
            </div>

            <div class="rowelement">
                <div class="span3">
                    Email
                </div>
                <div class="span5">
                    <input type="text" asp-for="Email" class="input-block-level" required />
                </div>
                <div class="clear"></div>
            </div>

            <div class="rowelement">
                <div class="span3">
                    Role:
                </div>
                <div class="span5">
                    <select id="ddlRole" asp-for="Role" asp-items=roles class="input-block-level" required>
                    </select>
                </div>
                <div class="clear"></div><br />
            </div>

            <div class="rowelement chkboxDepartments">
                <div class="span3">
                    <p>Department:</p>
                </div>
                <div class="span5 checkbox-group required">
                    @foreach (var d in @checkedDepartments)
                    {
                        <span class="chk-box-spn">
                            <input checked class="chkboxDepartments" name="Departments" style="margin:0px 4px 0 0;" type="checkbox" id="@d.ID" value="@d.ID">@d.Department
                        </span>
                    }

                    @foreach (var u in uncheckedDepartments)
                    {
                        <span class="chk-box-spn">
                            <input class="chkboxDepartments" name="Departments" style="margin:0px 4px 0 0;" type="checkbox" id="@u.ID" value="@u.ID">@u.Department
                        </span>
                    }
                </div>
                <div class="clear"></div><br />
            </div>

            <div class="form-actions margin-reset">
                <div class="pull-right">
                    <button @*onclick="submitValidation()"*@ type="submit" id="BtnSubmit" class="btn btn-success">Update Profile</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="box">
    <div class="header">
        <h4>Change Password</h4>
    </div>
    <div class="content">
        <form class="form-horizontal" asp-action="ChangePassword" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="rowelement">
                <div class="span3">
                    New Password
                </div>
                <div class="span5">
                    <input type="password" asp-for="Password" class="input-block-level" required />
                    <p class="help-block inpass">
                        Hint: Minium 6 characters, one non alphanumeric character, at least one digit ('0'-'9'),
                        at least one uppercase ('A'-'Z') and at least one lowercase ('a'-'z').
                    </p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="rowelement">
                <div class="span3">
                    Confirm Password
                </div>
                <div class="span5">
                    <input type="password" asp-for="ConfirmPassword" class="input-block-level" required />
                    <p class="help-block inpass">Hint: Password & Confirm Password must match.</p>
                </div>
                <div class="clear"></div>
            </div>


            <div class="form-actions margin-reset">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success add-user-btn">Change Password</button>
                </div>
            </div>

        </form>
    </div>
</div>