@model IEnumerable<SurveyResponseProfile>
@{
    ViewData["Title"] = ViewBag.Survey.Name + " - Responses";
    int counter = 1;
}


<div class="box">
    <div class="header">
        <h4>
            @ViewBag.Survey.Name - Responses (@Model.Count())
            <a class="btn btn-small pull-right poscenter" href="/surveystatistic/dashboard/@ViewBag.Survey.Id">Dashboard</a>
        </h4>
    </div>
    <div class="content">
        @if (Model.Count() > 0)
        {
        <table class="normal bt-dataTable" border="0" cellpadding="0" cellspacing="0" width="100%" id="dataTable">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Response Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>@item.ResponseOn.ToString("dd MMM yyyy, hh':'mm tt")</td>
                        <td class="w80">
                            <ul class="table-actions">
                                <li><a asp-action="Preview" title="View Response" asp-route-id="@item.Id"><i class="icon-eye-open"></i></a></li>


                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p class="pad20">No Responses found</p>
        }
    </div>
</div>


